@model PBL3.Models.Entities.AccountLogin
<div>
	<h1 class = "text-center">Login</h1>
	<form asp-action="Index" method ="post">
		<p>
			<label asp-for="AccName">Tên đăng nhập: </label>
			<input asp-for="AccName" /> 
		</p>
		<p>
			<label asp-for="PassHashCode">Mật khẩu: </label>
			<input asp-for="PassHashCode" /> 
		</p>
		<button class = "btn btn-primary" type="submit">Login</button>
	</form>
</div>